<div class="container">
  <div class="buttons">
    <button (click)="back()">BACK</button>
    <button (click)="next()">NEXT</button>
  </div>
  <img class="table" *ngIf="table" [src]="table.url" alt="table">
  <app-set-item-type class="set-item-type"></app-set-item-type>

  <app-table-slot *ngFor="let meal of table?.meals"
                  class="table-slot"
                  [imgSrc]="meal.url || ''"
                  [active]="itemType === itemTypes.MEAL"
                  (click)="setSlot(meal)"
                  [ngStyle]="{ 'top.px': meal.x, 'left.px': meal.y }"></app-table-slot>

  <app-table-slot *ngFor="let sit of table?.sits"
                  class="table-slot"
                  [imgSrc]="sit.url || ''"
                  [active]="itemType === itemTypes.CUTLERY"
                  (click)="setSlot(sit)"
                  [ngStyle]="{ 'top.px': sit.x, 'left.px': sit.y }"></app-table-slot>


  <app-choose-item-for-slot *ngIf="currentSlot"
                            class="choose-item-for-slot"
                            (selectedUrl)="selectItemForSlot($event)"
                            [items]="currentSlot.itemType === itemTypes.CUTLERY ? tableWares : meals"
                            [ngStyle]="{ 'top.px': currentSlot.x, 'left.px': currentSlot.y }"></app-choose-item-for-slot>

</div>
